.menbody-container{
    height: 2800px;
    /* border: 1px solid black; */
    display: flex;
}

.menbody-side-div{
    /* border: 1px solid black; */
    width: 20%;
}

.menbody-centre-div{
    /* border: 1px solid black; */
    width: 60%;
}