.App {
  text-align: center;
}

.App-Blur{
  /* top, transparent black, faked with gradient */ 
  background: linear-gradient(
                                rgba(0, 0, 0, 0.7), 
                                rgba(0, 0, 0, 0.7)
                              );
  text-align: center;
}

.App-Blur img, .App-Blur + .homebody-container img {
  filter: brightness(30%);
}

.App-Blur  .header-container input:not(.sign-in input){
  filter: brightness(30%);
}

.App-Blur .large-banner, .App-Blur .small-banner, .App-Blur .footer{
  filter: brightness(30%);
}






/*-------------------------------------------------------------------------------------------------------*/

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
