.left-menu > h4, .left-menu > p{
    text-align: left;
    margin-left: 10%;
}

.left-menu > h4{
    margin-top: 10%;
}

.left-menu > p{
    font-size: 0.75em;
    font-weight: 500;
    margin-top: 5%;
}

.left-menu > p:hover{
    text-decoration: underline;
}