.offers-and-download{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    font-size: 0.8em;
    font-weight: 600;
    color: gray;
    margin-right: 10%;
}

.shopping-cart-title{
    margin: 5% auto;
}

.items-and-checkout{
    display: flex;
    justify-content: center;
}

.items-container{
    width: 50%;
    margin-right: 2%;
}

.checkout-container{
    width: 30%;
}

.item-template{
    height: 15em;
    display: flex;
}

.item-img-container{
    width: 17%;
    height: 70%;
    margin: 3% 3% 3% 3%;
}

.item-img-container img{
    height: 100%;
    width: 100%;
}

.item-details-container{
    width: 80%;
    border: 1px solid black;
}

.title-price-delete{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 100%;
    margin-bottom: 5%;
}

.title-and-price{
    margin-top: 2.5%;
    
}

.delete{
    margin-right: 5%;
    margin-top: 3%;
}

.title-and-price h3, .title-and-price h4, .title-and-price h5{
    text-align: start;
}

.specs{
    display: flex;
    margin-bottom: 5%;
}

.specs > div {
    width: 40%;
    margin-right: 5%;
}

.specs > div > p{
    display: flex;
    justify-content: space-between;
}

.like-and-quantity{
    display: flex;
}

.like-and-quantity div:nth-child(1){
    height: 3em;
    width: 4em;
}

.like-and-quantity > div:nth-child(1) > i{
    margin-top: 1em;
}

.like-and-quantity div:nth-child(2){
    height: 3em;
    width: 5em;
    border: 1px solid gray;
    margin-left: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.black-border{
    border: 1px solid black;
}