.row-1{
    display: flex;
    justify-content: space-around;
}

.row-1-left-div{
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.big-images-div{
    height: 40%;
    width: 47%;
}

.big-images-div img{
    height: 100%;
    width: 100%;
}

.row-1-right-div{
    width: 35%;
    height: 50%;
}

.title-and-heart, 
.price-and-member-price{
    display: flex;
    justify-content: center;
}

.title-and-heart i{
    margin-top: 7%;
    padding-left: 20%;
}

.title-and-heart h4{
    margin-top: 5%;
    padding-right: 20%;
}

.price-and-member-price h3{
    margin-top: 2%;
    padding-right: 15%;
}

.price-and-member-price h4{
    margin-top: 2%;
    padding-left: 15%;
}

.variants{
    text-align: start;
    margin-left: 10%;
    margin-top: 4%;
}

.variants-img-container{
    margin-left: 7%;
    display: flex;
}

.variants-img-container div{
    height: 80px;
    width: 12%;
    margin-top: 2%;
    margin-left: 2%;
}

.variants-img-container img{
    height: 100%;
    width: 100%;
}

.sizes h5{
    margin-top: 10%;
    text-align: start;
    margin-left: 10%;
}

.sizes-div-container{
    margin-left: 7%;
    display: flex;
    flex-wrap: wrap;
}

.sizes-div-container div{
    height: 2.5em;
    width: 15%;
    margin-left: 2%;
    margin-top: 2%;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.size-guide{
    text-align: start;
    margin-left: 10%;
    margin-top: 5%;
    text-decoration: underline;
}

.size-guide i{
    margin-right: 2%;
}

.add-to-cart-btn{
    width: 80%;
    height: 3.5em;
    margin-top: 2%;
    color: white;
    font-weight: 700;
    background-color: black;
}

.add-to-cart-btn i{
    margin-right: 2%;
}

.find-a-store{
    margin-top: 5%;
}

.find-a-store, .standard-delivery-info{
    text-align: left;
    margin-left: 10%;
    font-size: 0.8em;
    font-weight: 600;
}

.standard-delivery-info{
    margin-bottom: 5%;
}

.reviews{
    text-align: left;
    margin-left: 10%;
    margin-top: 10%;
    display: flex;
    font-weight: 700;
}

.true-to-size-scale{
    margin-top: 2%;
    margin-bottom: 7%;
}

.product-related-info{
    width: 80%;
    height: 3em;
    border-top: 1px solid gray;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-related-info h3:hover{
    cursor: pointer;
    color: red;
}

.row-2, .row-3{
    margin-bottom: 10%;
}

.row-2 h3, .row-3 h3{
    text-align: start;
    margin-left: 5%;
    margin-top: 10%;
}

.sliding-images-container{
    width: 90%;
    margin:auto;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}



.sliding-images-container  > div img{
    height: 100%;
    width: 100%;
}

.sliding-images-container  > div > div{
    height: 25em;
    width: 100%;
}

.sliding-images-container h5{
    text-align: start;
}

.black-border{
    border: 1px solid black;
}